@using System.Activities.Statements
@using AlwaysPPS.Library.Constant
@using System.Text

@{
    ViewBag.Title = "项目详情";
    var teamsSource = ViewBag.teams as List<SelectListItem>;
}


<div class="row">
    <div class="col-md-12 ">
        <div class="titleBar">
            <h3>项目详情</h3>
        </div>
        <div class="subTitleBar">
            <div class="row">
                <div class="col-md-3">
                    <b class="title">项目编号：</b>
                    <span class="details">@ViewBag.project.ProjectCode</span>
                </div>
                <div class="col-md-3">
                    <b class="title">创建日期：</b>
                    <span class="details">@ViewBag.RequestTime</span>
                </div>
                <div class="col-md-3">
                    <b class="title">创建人：</b>
                    <span class="details">@ViewBag.RequestName</span>
                </div>
                <div class="col-md-3">
                    <b class="title">状态：</b>
                    <span class="details">@ViewBag.project.State</span>
                </div>
            </div>
        </div>
        <div class="main">
            <div id="addNewItem" class="addNewItemBox">
                <form role="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>项目名称</label>
                                <input type="text" class="form-control" style="width:100%;"
                                       data-auto-bind="false"
                                       data-bind="value: projectName" 
                                        />
                            </div>
                            <div class="col-md-6">
                                <label >客&nbsp;&nbsp;&nbsp;&nbsp;户</label>
                                <input type="text" class="form-control" id="clientName" style="width:100%;"
                                       data-role="autocomplete"
                                       data-auto-bind="false"
                                       data-bind="source: clients,
    value: client" 
                                       />
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>项目类别</label>

                                <input type="text" class="form-control" style="width:100%;"
                                       data-auto-bind="false"
                                       data-bind="value: projectType" 
                                       readonly="readonly"/>
                            </div>
                            <div class="col-md-4">
                                <label >部&nbsp;&nbsp;&nbsp;&nbsp;门</label>

                                
                                <input type="text" class="form-control" style="width:100%;"
                                       data-auto-bind="false"
                                       data-bind="value: department" 
                                       readonly="readonly"  />
                              
                            </div>
                           
                            <div class="col-md-4">
                                <label>完稿/比稿日期</label>
                                <input class="form-control"  style="width:100%;"   
                                       data-role="datetimepicker"
                                       data-bind="value: deadline"
                                       readonly="readonly" />                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>项目介绍</label>
                        <textarea class="form-control"  rows="3" data-auto-bind="false" data-bind="value: projectIntroduction" style="width:100%;"></textarea>
                    </div>
                    @{
                        if (ViewBag.project.State == DataStatus.ProjectState.Reject)
                        {
                            <div class="form-group">
                                <label>拒绝原因</label>
                                <textarea class="form-control" style="width:100%;" readonly="readonly" rows="3" data-auto-bind="false" data-bind="value: reasons"></textarea>
                            </div>
                        }
                    }
                    <div class="form-group">
                        <div class="row">
                            @{
                                if (ViewBag.isBuhead == "1" && ViewBag.project.State == DataStatus.ProjectState.pendingByBuHead)
                                {
                                    <div class="buttonTeam">
                       
                                        <button class="btn btn-blueBlack" data-bind="click: reject" type="button"><i class="icon-thumbs-down"></i>&nbsp;&nbsp;拒绝</button>
                                        <button class="btn btn-blueBlack"  data-bind="click: approve" type="button"><i class="icon-thumbs-up"></i>&nbsp;&nbsp;批准</button>
                                    </div> 
                                }
                                if (ViewBag.role == "4" && ViewBag.project.State == DataStatus.ProjectState.Reject)
                                {
                                    <div class="buttonTeam">
                       
                                        <button style="margin-right: 10px;" class="btn btn-blueBlack" data-bind="click: reOpen" type="button"><i class="icon-thumbs-down"></i>&nbsp;&nbsp;重新打开</button>
                                      
                                    </div> 
                                }

                            }
                            @{
                                if (ViewBag.role == "1" && ViewBag.project.State == DataStatus.ProjectState.pendingByTrafficLeader)
                                {
                                    <div class="col-md-4">
                                        <label>项目执行团队</label>
                                        <input type="text" class="form-control" style="width:100%;"
                                               data-role="dropdownlist"
                                               data-auto-bind="false"
                                               data-option-label="请选择团队"
                                               data-value-primitive="true"
                                               data-text-field="Text"
                                               data-value-field="Value"
                                               data-bind="value: ProjectTeam,
    source: ProjectTeams" 
                                            />
                                    </div> 
                            
                                }
                                else
                                {
                                    if (ViewBag.project.State == DataStatus.ProjectState.pendingByTeamLeader || ViewBag.project.State == DataStatus.ProjectState.pendingByTeamLeaderEnd)
                                    {

                                        if (ViewBag.role == "1" || ViewBag.role == "2" || ViewBag.role == "3")
                                        {
                               
                                        <div class="col-md-4">
                                            <label>项目执行团队</label>
                                            <input type="text" class="form-control" style="width:100%;"
                                                   data-auto-bind="false"
                                                   data-bind="value: team" 
                                                   readonly="readonly"  />
                                        </div>
                                
                                        }
                                    }
                                }
                            
                           
                            }      
                        </div>
                    </div>
                    @{ if (ViewBag.role == "1" && ViewBag.project.State == DataStatus.ProjectState.pendingByTrafficLeader)
                       {
                                <div class="buttonTeam">
                                    <button class="btn btn-blueBlack" data-bind="click: AddByTra" type="button"><i class="icon-ok-sign"></i>&nbsp;&nbsp;提交</button>
                                </div>
                       } 
                        else if (ViewBag.role == "2")
                        {
                            if (ViewBag.project.State == "进行中")
                            {
                                 <div class="buttonTeam">
                                     <button id="btnTijiao" class="btn btn-blueBlack" data-bind="click: Jian" type="button"><i class="icon-ok-sign"></i>&nbsp;&nbsp;结案</button>
                                 </div>
                            }
                        }   
                    }
                </form>
            </div>
            @{
                if (ViewBag.role == "1" || ViewBag.role == "2" || ViewBag.role == "3" || ViewBag.role == "4" || ViewBag.role == "5")
                {
                        <div class="panelbarWrapper">
                            <ul id="panelbar">
                                @{
                    if (ViewBag.role == "1")
                    {
                                        <li class="k-state-active">
                                    项目时间表
                                    <div></div>
                                        </li> 
                        <li>
                            工作安排
                            <div></div>
                        </li>
                                    if(ViewBag.isLoveDesing!=false)
                                    {
                                        <li>
                                    文件
                                        <div></div>
                                         </li> 
                                }

                    }

                    else if (ViewBag.role == "2" || ViewBag.role == "3" || ViewBag.role == "4" || ViewBag.role == "5")
                    { <li  class="k-state-active">
                                    项目时间表
                                    <div></div>
                                        </li> 
                        <li>
                            工作安排
                            <div></div>
                        </li>
                                    if(ViewBag.isLoveDesing!=false)
                                    {
                                        <li>
                                            文件
                                            <div></div>
                                        </li>
                                    }
                    }
                                }
                            </ul>
            </div>
                }
            }
        
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        kendo.culture("zh-CN");
        var clientsDataSource = new kendo.data.DataSource({
            serverFiltering: true,
            type: "aspnetmvc-ajax",
            transport: {
                read: {
                    dataType: "json",
                    url: "/Report/GetClient",
                    data: function () {
                        var keyword = $("#clientName").data("kendoAutoComplete").value() || "";
                        return { client: keyword };
                    }
                }
            }
        });



        var addNewItemModel = kendo.observable({
            clients: clientsDataSource,
            ProjectTeams:@Html.Raw(Json.Encode(teamsSource)),
            team:'@Html.Raw(ViewBag.teamName)',


            projectName: '@Html.Raw(ViewBag.project.ProjectName)',
            department:'@Html.Raw(ViewBag.deptName)',
            client: '@Html.Raw(ViewBag.project.ClientName)',
          
            projectType: '@Html.Raw(ViewBag.projectTypeName)',
            deadline: '@ViewBag.project.Deadline',
            projectIntroduction: '@Html.Raw(ViewBag.project.ProjectDescription)',
            reasons:'@Html.Raw(ViewBag.project.Reson)',
            isPrimitive: false,
            
            approve: function (e) {
                e.preventDefault();
                var editTraining = $("#addNewItem").kendoValidator().data("kendoValidator");
                if (!editTraining.validate()) {
                    return false;
                }
                //定义实体object
                var approveModel = {
                    projectName: this.projectName,
                    client: this.client,
                    department: '@ViewBag.project.DepartmentId',
                    projectType: '@ViewBag.project.ProjectTypeId',
                    deadline: this.deadline,
                    projectIntroduction: this.projectIntroduction,
                    types: 'A',
                    projectID: '@ViewBag.project.ProjectId',
                };
                      $.ajax({
                          type: 'Post',
                          url: "/Report/ApproveOrReject",
                          data: kendo.stringify(approveModel),
                          contentType: "application/json; charset=utf-8",
                          dataType: 'json',
                          success: function (res) {
                              //if (res.Statu == "1") {
                              //    window.location = window.location;
                              //}
                              if (res.Statu == "1") {
                                  window.location = "/Project/GetMyProjectDetail?id=" + '@ViewBag.project.ProjectId';
                                }
                          }

                      });

                  },
            reject: function (e) {
                e.preventDefault();
                var editTraining = $("#addNewItem").kendoValidator().data("kendoValidator");
                if (!editTraining.validate()) {
                    return false;
                }
                //定义实体object
                var approveModel = {
                    projectName: this.projectName,
                    client: this.client,
                    department: '@ViewBag.deptNameID',
                    projectType: '@ViewBag.projectTypeID',
                    deadline: this.deadline,
                    projectIntroduction: this.projectIntroduction,
                    types: 'R',
                    projectID: '@ViewBag.project.ProjectId',
                };
                $.ajax({
                    type: 'Post',
                    url: "/Report/ApproveOrReject",
                    data: kendo.stringify(approveModel),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (res) {
                        if (res.Statu == "1") {
                            window.location = "/Project/GetMyProjectDetail?id=" + '@ViewBag.project.ProjectId';
                          }

                    }

                });

            },
            AddByTra: function (e) {
                e.preventDefault();
                var editTraining = $("#addNewItem").kendoValidator().data("kendoValidator");
                if (!editTraining.validate()) {
                    return false;
                }
                //Save to Server            
                var SubmitModel = {
                    projectName:this.projectName,
                    client:this.client,
                    projectIntroduction:this.projectIntroduction,
                    ProjectTeam: this.ProjectTeam,
                    projectID: '@ViewBag.project.ProjectId',
                };


                $.ajax({
                    type: 'Post',
                    url: "/Project/ToTeame",
                    data: kendo.stringify(SubmitModel),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (res) {
                        if (res.Statu == "1") {
                            window.location="/Project/GetMyProjectDetail?id="+'@ViewBag.project.ProjectId';
                             //$("#btnTijiao").css("display", "none");
                         }
                    }
                });

            },          
            Jian: function(e) {
                e.preventDefault();
                var editTraining = $("#addNewItem").kendoValidator().data("kendoValidator");
                if (!editTraining.validate()) {
                    return false;
                }
                //Save to Server            
                var SubmitModel = {
                    ProjectTeam: this.ProjectTeam,
                    projectID: '@ViewBag.project.ProjectId',
                    projectName:this.projectName,
                    client:this.client,
                    projectIntroduction:this.projectIntroduction,
                };

                if(window.confirm("是否结案?"))
                {
                    $.ajax({
                        type: 'Post',
                        url: "/Project/Jian",
                        data: kendo.stringify(SubmitModel),
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        success: function(res) {
                            if (res.Statu == "1") {
                                window.location="/Project/GetMyProjectDetail?id="+'@ViewBag.project.ProjectId';
                            //$("#btnTijiao").css("display", "none");
                        }
                    }
                });}

            },
            Add: function (e) {
                e.preventDefault();
                var editTraining = $("#addNewItem").kendoValidator().data("kendoValidator");
                if (!editTraining.validate()) {
                    return false;
                }
                //Save to Server            
                var SubmitModel = {
                    ProjectTeam: this.ProjectTeam,
                    projectID:'@ViewBag.project.ProjectId',
                };


                $.ajax({
                    type: 'Post',
                    url: "/Project/ToTeame",
                    data: kendo.stringify(SubmitModel),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (res) {
                        eval(script);
                    }
                });
           
            },
            reOpen:function(e) {
                e.preventDefault();
                var editTraining = $("#addNewItem").kendoValidator().data("kendoValidator");
                if (!editTraining.validate()) {
                    return false;
                }
                //定义实体object
                window.location = "/Report/AddProject/" + '@ViewBag.project.ProjectId';
            }
        });
        kendo.bind($("#addNewItem"), addNewItemModel);
        function onActivate(e) {
            structure(60, 220, "menu", "slideArea");
        }
        //面板条
        $("#panelbar").kendoPanelBar({
            activate: onActivate,
            expandMode: "single",
            contentUrls: [
                '/Project/Milestone/'+'@ViewBag.project.ProjectId',
                '/Project/HumanResourcePlanning?projectId='+'@ViewBag.project.ProjectId',
                '/Project/Folder?projectId='+'@ViewBag.project.ProjectId'
            ]
        });
    })
    
</script>

